@font-face {
  font-family: 'MontserratAlt';
  src: url('assets/fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #F8F2DE;
  margin: 0;
  padding: 0;
  font-family: 'MontserratAlt', sans-serif;
}

.text-primary {
  color: #D84040;
}

.bg-button {
  background-color: #CD5656;
  color: white;
}
